.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

.flex-div {
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.car img{
    width: 100%;
    vertical-align: middle;
}

.car {
    flex: 25%;
    padding: 20px 5px;
}

.car p {
    display: flex;
    justify-content: center;
    text-size-adjust: inherit;
}

/* gallery */


.column {
    display: grid;
    height: 600px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    /* grid-template-rows: 150px 150px 300px; */
    grid-template-rows: 1fr 1fr 2fr;
    gap: 10px;
    padding: 0 10% 20px;
}

.column div {
    width: 100%;
    background-image: url('img/car2.jpg');
    background-size: cover;
}

.item1 {
    grid-row: 1 / span 2;
}

.item9 {
    grid-column: 2 / span 3;
}

/* Bootstrap card section */

.card-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 10%;
    gap: 20px;
}


/* Footer */

.back-to-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}

.back-to-top p, .back-to-top a {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
}


/* Media queries */


@media screen and (max-width: 320px) {

    /* Footer */
    .back-to-top {
        display: flex;
        flex-direction: column;
        padding: 10px !important;
        margin: 0px;
    }

    .back-to-top p {
        width: fit-content;
        padding: 0px;
        margin-left: 0px;
        justify-items: flex-start;
        font-size: small;
    }

    .back-to-top a {
        width: fit-content;
        font-size: x-small;
        margin-left: 150px !important;

    }

    /* Card */

    .card-section {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* padding: 80px 10%; */
        /* gap: 20px; */
    }

    .card {
        width: 100% !important;
    }


    /* Carousel */
    .carousel-caption {
        left: 15%;
    }
}


@media screen and (max-width: 720px) {

    /* Footer */
    .back-to-top {
        display: flex;
        
    }

    .back-to-top p {
        font-size: small;
        margin-left: 5% !important;
    }

    .back-to-top a {
        font-size: small;
        margin-right: 5% !important;
    }

    /* Card */

    .card-body {
        font-size: 10px;
    }

    .card-body h5 , .card-body a{
        font-size: 12px;
    }

}