.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

.flex-div {
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.car img{
    width: 100%;
    vertical-align: middle;
}

.car {
    flex: 25%;
    padding: 20px 5px;
}

.car p {
    display: flex;
    justify-content: center;
    text-size-adjust: inherit;
}

/* gallery */


.column {
    display: grid;
    width: 90%;
    height: 600px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 150px 150px 300px;
    gap: 10px;
    padding: 0 8%;
    padding-bottom: 20px;
    justify-content: center;
}

.column div {
    width: 100%;
    background-image: url('img/car2.jpg');
    background-size: cover;
    justify-content: center;
    /* resize: ; */
    /* max-width: fit-content; */
    /* max-height: fit-content; */
}

.item1 {
    grid-row: 1 / span 2;
}

.item9 {
    grid-column: 2 / span 3;
}

/* Bootstrap card section */

.card-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 10%;
    gap: 20px;
}


/* Footer */

.back-to-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}

.back-to-top p, .back-to-top a {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
}